node_modules/
toolchains/
functions/lib/
functions/node_modules/
apps/flutter_app/.dart_tool/
apps/flutter_app/build/
apps/flutter_app/.flutter-plugins
apps/flutter_app/.flutter-plugins-dependencies
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
